# URL del backend
VITE_API_URL=https://mypet-backend-g3p3.onrender.com/ 

# Google Maps (clave pública para el frontend)
VITE_GOOGLE_MAPS_API_KEY=AIzaSyBtjL9Zw1SgyUafuRnE81x1X0pb0CVdenE

# MercadoPago (clave pública para el frontend)
VITE_MP_PUBLIC_KEY=