# URL del backend
VITE_API_URL=

# Google Maps (clave pública para el frontend)
VITE_GOOGLE_MAPS_API_KEY=

# MercadoPago (clave pública para el frontend)
VITE_MP_PUBLIC_KEY=

# Google Client ID (clave pública para el frontend)
VITE_GOOGLE_CLIENT_ID=