@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Outfit:wght@800&display=swap");
@import "./styles/variables.css";
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

