# Base de datos
MONGODB_URI= 

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=

# MercadoPago
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=

# Google Maps
GOOGLE_MAPS_API_KEY=

# Anthropic (Bot IA)
ANTHROPIC_API_KEY=

# Email (Nodemailer)
EMAIL_USER=
EMAIL_PASSWORD=


#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Servidor
PORT=3000
CLIENT_URL=http://localhost:5173